* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: "Open Sans", "Arial";
    color: rgb(20, 20, 20);
    background: rgb(245, 245, 245);
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    margin: 5vh auto 3vh auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
    margin: auto;
    padding: 0 1vw;
    min-height: 90vw;
    margin-bottom: 10vh;
}


.floors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.floors .caption {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: rgba(224, 139, 40, 0.1); */
    /* border: 1px solid rgba(214, 134, 59, 0.3); */
    padding: .5rem 0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    cursor: default;
}

.floors .box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 1.5rem .5rem;
    /* background: rgba(224, 139, 40, 0.1); */
    /* background: white; */
    box-shadow: 0 4px 5px 5px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.floors .box .img-container {
    position: relative;
    z-index: 0;
    width: 200px;
    height: 200px;
    /* height: 100%; */
    padding-bottom: 100%;
    /* background: #eee; */
    /* border: 1px solid black; */
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-radius: inherit;
    /* background: white; */
}

.floors .box a {
    height: 100%;
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-radius: inherit;
}

.floors .box a img {
    width: 200px;
    height: 200px;
    /* max-height: 100%; */
    /* max-width: 100%; */
    object-fit: cover;
    object-position: center;
    box-shadow: 0 4px 7px 7px rgba(0, 0, 0, 0.05);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-radius: inherit;
    /* display: none; */
    cursor: zoom-in;
}


/******* Mouseover pop-up for floor selection ******/

.box .floormenu {
    position: absolute;
    /* bottom: 0; */
    top: 100%;
    min-width: 100%;
    min-height: 2rem;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    z-index: 100;
    /* max-height: 0; */

    display: none;
    /* opacity: 1; */

    padding: 1rem;
    padding-top: .5rem;
    flex-direction: column;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);

    /* transition-duration: 0.5s; */
}

.box:hover .floormenu {
    display: flex;
    opacity: 1;
    z-index: 200;
    /* max-height: auto; */

    /* transition-duration: 0.5s; */
    /* transform: translateY(30px); */
    /* border: 5px solid burlywood; */
}

.floormenu label {
    margin: .2rem 0;
}

.floormenu select {
    margin-bottom: 1rem;
}

.box:after {
    /* position: absolute; */
    content: "⏶";
    color: #777;
    text-align: center;
    height: 1rem;
    font-size: 1.2rem;
    width: 100%;
    opacity: 0;
    margin-top: -1rem;
}

.box:hover:after {
    opacity: 100;
}



/******* Mouseover box highlight with bg color ******/

.box:before {
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    opacity: 30;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}







/********** Table with single pieces *********/

#tablegrid {
    display: flex;
    flex-direction: column;
    /* min-width: 30vw; */
    /* max-width: 1500px; */
    letter-spacing: 0.05rem;

    background: #eee;
    border: 1px solid #ddd;
    box-shadow: 0 4px 7px 7px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.row.header {
    /* background: rgb(212, 182, 129); */
    background: linear-gradient(to left, rgb(216, 186, 134), rgb(212, 163, 98));
    font-weight: bold;
    font-size: 1rem;
    min-height: 3rem;
    border: 1px solid rgb(187, 164, 125);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.row.header .cell {
    padding: 0 1rem;
}

/* .row.header .cell:first-child {
    opacity: 0;
} */

.row {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
    align-items: center;
    /* padding: 0 1rem; */
    /* padding-right: 0; */
    background: white;
    margin: 1px;
    /* column-gap: 1rem; */
    /* box-shadow: 0 -5px 5px -15px #888; */
}


/* On the first column, center images horizonally */
.row .cell:first-child {
    align-items: center;
}

.cell {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
    justify-items: stretch; */
    height: 100%;
    /* background: burlywood; */

    justify-content: space-evenly;
    height: 100%;

    /* padding-left: .5rem; */
}

.cell span {
    display: flex;
    align-items: center;
    height: 100%;
    padding: .5rem 1rem;
    min-height: 3rem;
    /* text-align: center; */
}

/* Alternating row color */
.cell span:nth-child(even) {
    background: rgba(0, 0, 0, 0.05);
}

.cell:first-child a {
    /* height: 100%; */
    /* width: 100%; */
    /* padding: 100%; */
    /* background: #eee; */
    /* border: 1px solid #ccc; */
    max-width: 200px;
    height: 100%;
    padding: 0;
    display: flex;
}

.cell a img {
    /* height: 100%; */
    /* max-width: 150px; */
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* max-height: 150px; */
    padding: 0;
    margin: 0;
    /* display: none; */
}

.sku {
    font-family: "Inconsolata";
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
}


/*
input.checkbox {
    opacity: 10;
    // width: 30px;
    // height: 30px;
    border: 1px solid red;
    background: burlywood;
}
*/

footer {
    text-align: center;
    padding: .8rem;
    background: rgba(0, 0, 0, 0.05);
    color: #333;
}


.center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/******** Custom checkboxes *******/


.svg-checkbox input {
    position: absolute;
    opacity: 0;
}

.svg-checkbox .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid #F39C12;
    transform: rotate(-90deg);
    transition: all 0.2s;
    box-sizing: content-box;
}

.svg-checkbox .overlay .icon {
    color: white;
    display: none;
}

.svg-checkbox input:checked ~ .overlay {
    background-color: #F39C12;
    border-radius: 4px;
    transform: rotate(0deg);
    opacity: 1;
    border: 2px solid #F39C12;
}

.svg-checkbox input:checked ~ .overlay .icon {
    display: block;
}





/*********** c checkbox *************/

.pin-to-corner {
    position: absolute;
    height: 100%;
    /* width: 100%; */
    right: .3rem;
    /* top: 0; */
    display: flex;
    justify-content: flex-end;
    align-self: center;
    /* bottom: 0; */
    /* right: 0; */
    z-index: 100;
}

.simple-custom-checkbox {
    height: 24px;
    width: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #b87b1a;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.7);
    outline: none;
    cursor: pointer;
    float: left;
    transition-duration: 0.4s;
    content: "_";
}

.simple-custom-checkbox:checked {
    /* background-color: white; */
    /* box-shadow: 0px 0px 0px 20px black inset; */
    /* border: 1px solid rgb(127, 129, 140); */
    /* transform: rotate(90deg); */
    content: "c";
    background: #e6b55c;
    transition: 0.3s;
}

.simple-custom-checkbox:active {
    border: 20px solid white;
}

/* Checkbox tick */
.simple-custom-checkbox::after {
    content: "✔";
    color: rgb(136, 83, 14);
    font-size: 110%;
    position: absolute;
    height: 100%;
    width: 100%;
    /* transform: rotate(0deg); */
    /* background: rgba(0, 0, 0, 0.329); */
    /* display: flex; */
    text-align: center;
    vertical-align: middle;
    display: none;
    /* opacity: 10; */
}

.simple-custom-checkbox:checked::after {
    /* transform: rotate(-90deg); */
    display: block;
}









/********* Header stuff ********/


header {
    width: 100%;
    display: flex;
    color: #111;
}

#header-content {
    margin: auto;
    /* height: 10vh; */
    display: flex;
    padding-top: 3vh;
    letter-spacing: 0.05rem;
    text-align: center;
    font-family: "cardo", "lato", "open sans";
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

#header-content img {
    margin: auto 1rem;
    /* height: 100%; */
    max-height: 10vh;
    width: auto;
}

#header-content #titles {
    margin: auto 0.5rem;
    display: flex;
    flex-direction: column;
}

#header-content h2 {
    margin: 0.3rem;
    font-size: 2.3rem;
    font-weight: bold;
    /* font-family: "cardo", "georgia", "lato"; */
}

#header-content h3 {
    margin: 0.3rem;
    font-size: 1.4rem;
    font-weight: normal;
    /* font-family: "cardo", "georgia", "lato"; */
}

#header-content .c1 {
    display: inline;
    /* color: rgb(97, 59, 24); */
    color: #543306;
    margin-right: 0.8rem;
}

#header-content .c2 {
    display: inline;
    /* color: rgb(97, 59, 24); */
    color: #c58714;
}




/********* Floating selection panel *********/

#panel {
    /* display: absolute; */
    position: fixed;
    bottom: 0;
    right: 2vw;
    /* width: 800px; */
    /* height: 400px; */
    background: rgba(255, 255, 255, 0.95);
    /* display: none; */
    z-index: 200;
    min-width: 100px;
    padding: 1.5rem;
    display: flex;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.1);

    opacity: 1;
    transition: 0.2s;
}

#panel.hidden {
    transform: translateY(100%);
    opacity: 0;
    transition: 0.2s;
}

#panel #listing {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#listing .entry {
    padding: 1rem;
    min-width: 10rem;
    font-size: .9rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    border-radius: .5rem;
}

#listing .entry:nth-child(odd) {
    background: rgba(0, 0, 0, 0.06);
}

#listing .entry a {
    max-width: 80px;
    max-height: 100%;
}

#listing .entry a img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    cursor: zoom-in;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* border: 1px solid black; */
}



/************ Dummy testing ************/

#dummy {
    position: fixed;
    bottom: 20px;
    left: 20px;
    opacity: 0.5;
    width: 300px;
    height: 50px;
    background: #aaa;
    transition: 0.5s;
}

#dummy:hover {
    opacity: 1;
    border: 1px solid black;
    transition: 0.5s;
    height: 200px;
}



#dummy-flex {
    width: 300px;
    display: flex;
    background: #ccc;
    height: 2rem;
    align-items: center;
    justify-content: center;
}

.shifted {
    align-self: flex-end;
}
